.service-container {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}
.service-card {
    scroll-snap-align: start;
}
.scroll-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: var(--yellow-light);
    color: black;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: grid;
    border: 2px solid black;
    place-content: center;
    border-radius: 100%;
}
.left-button {
    left: -20px;
}

.right-button {
    right: -20px;
}

@media (max-width:480px) {
    .scroll-button {
        display: none;
    }
}

.service-container {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.service-container::-webkit-scrollbar { 
    display: none; 
}